* {
	box-sizing: border-box;
	border: 0;
	padding: 0;
	margin: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	font-size: 20px;
}

body {
	min-width: 360px;
	font-family: 'Roboto', sans-serif;
	background-color: #5A8C58;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

main {
	flex-grow: 1;
}

header,
main,
footer {
	flex-shrink: 0;
}

.page-container {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

main{
	display: flex;
	justify-content:center;
	flex-direction: column;
	min-width: 350px;
	max-width: 500px;
}

.border{
	margin: 10px 5px 10px 5px;
	border: medium;
	border-style: solid;
	border-color: black;
	background-color:#D9D3B4;
}

.background-image{
	background-image: url("https://i.imgur.com/MnQAFnU.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.header-container {
	font-family: 'Press Start 2P', cursive;
	font-size: 10px;
	margin: 10px 10px 10px 10px;
}

.start-container {
}

.quiz-container {
}

.answers {
	display: block;
}

.score-container {
}

.results-container {
	display: block;
}

.center1{
	display: flex;
	justify-content:center;
	flex-direction: row;
	margin: 10px 0px 10px 0px;
}

.contact-container{
	display: flex;
	max-width: 500px;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	list-style: none;
}

.contact-info {
	height: 30px;
	width: 30px;
	margin: 0px 40px 0px 40px;
}

.submit{	
	width: 5em;
	height: 3em;
	border-width: medium;
	border-style: outset;
	margin: 5px 0px 5px 0px;
}

@media only screen and (min-width: 540px) {}

@media only screen and (min-width: 769px) {

	main{
		display: flex;
		justify-content:center;
		flex-direction: column;
		min-width: 770px;
		min-height: 770px;
	}

}