* {
	box-sizing: border-box;
	border: 0;
	padding: 0;
	margin: 0;
	cursor: url('images/cursor.gif'), auto;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-variant: small-caps;
	background-color: #5A8C58;
	color: #F2C46D;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

main {
	flex-grow: 1;
}

header,
main,
footer {
	flex-shrink: 0;
}

.pagecontainer {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

main {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 350px;
	
}

.border {
	margin: 10px 5px 10px 5px;
	border: medium;
	border-style: solid;
	border-color: black;
	background-color: #D9D3B4;
}

.background-image {
	background-image: url("images/shield.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.potCounter{
	font-family: 'Press Start 2P', cursive;
	font-size: 10px;	
	margin: 7px 10px 5px 10px;
}

.heartcontainer {
	min-height: 35px;
}

.emptyheart,
.fullheart {
	margin: 7px 5px auto 0px;
	height: 20px;
}

#quizcontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	margin: 0px 5px 0px 5px;
	height: 350px;
}

.startcontainer {
	margin: 0px 10px 0px 10px;
}

.choices {
	display: block;
	margin: 0px 5px 0px 5px;
}

.centercontainer {
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin: 10px 0px 10px 0px;
}

.contactcontainer {
	display: flex;
	max-width: 500px;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	list-style: none;
}

.contactinfo {
	height: 25px;
	width: 25px;
	margin: 0px 25px 0px 25px;
}

.press {
	font-family: 'Roboto', sans-serif;
	font-variant: small-caps;
	font-size: 18px;
	width: 4em;
	height: 2em;
	border: 3px;
	border-style: outset;
	color: #F2C46D;
	background-color: #E8591A;
	margin: 5px 0px 5px 0px;
}

.press:active {
	border: 3px;
	border-style: inset;
}

.press:hover {
	background-color: #BD4715;
}

.MasterSword{
	width:40px;
}

.Pixels{
	width:50px;
}

@media only screen and (min-width: 540px) {
	main {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 500px;
}

body {
	font-size: 25px;
}

.press {
	width: 5em;
}

.contactinfo {
	height: 40px;
	width: 40px;
	margin: 0px 40px 0px 40px;

}

@media only screen and (min-width: 769px) {

	main {
		width: 770px;
	}

	.potCounter{
		font-family: 'Press Start 2P', cursive;
		font-size: 13px;
	}

	.contactinfo {
		height: 45px;
		width: 45px;
		margin: 0px 40px 0px 40px;
	}
}